name: Build Size Compare

on:
  pull_request:
    branches:
      - main
    types: [opened, synchronize, reopened]

jobs:
  build-base:
    name: Build base
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          ref: ${{ github.base_ref }}

      - name: Install deps (with cache)
        uses: bahmutov/npm-install@v1.7.10
        with:
          working-directory: './'
          useLockFile: false

      - name: Build
        run: npm run build
        env:
          CI: false

      - name: build stats file
        run: node ./scripts/build-size.js

      - name: Upload pr stats.json
        uses: actions/upload-artifact@v2
        with:
          name: base
          path: ./stats.json
          retention-days: 1

  build-pr:
    name: Build PR
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Install deps (with cache)
        uses: bahmutov/npm-install@v1.7.10
        with:
          working-directory: './'
          useLockFile: false

      - name: Build
        run: npm run build
        env:
          CI: false

      - name: build stats file
        run: node ./scripts/build-size.js

      - name: Upload pr stats.json
        uses: actions/upload-artifact@v2
        with:
          name: pr
          path: ./stats.json
          retention-days: 1

  report:
    name: Generate report
    runs-on: ubuntu-latest
    needs: [build-base, build-pr]

    steps:
      - name: Checkout PR
        uses: actions/checkout@v2

      - name: Download base stats
        uses: actions/download-artifact@v2
        with:
          name: base
          path: base

      - name: Download PR stats
        uses: actions/download-artifact@v2
        with:
          name: pr
          path: pr

      - name: echo ./pr/
        run: ls ./pr/

      - name: Getting build size
        id: get-build-size
        uses: actions/github-script@v6
        with:
          script: |
            const fs = require('fs');

            function humanFileSize(size) {
              var i = size == 0 ? 0 : Math.floor(Math.log(size) / Math.log(1024));
              return (
                (size / Math.pow(1024, i)).toFixed(2) * 1 +
                ' ' +
                ['B', 'kB', 'MB', 'GB', 'TB'][i]
              );
            }

            const baseResultString = fs.readFileSync('./base/stats.json', 'utf-8');
            const prResultString = fs.readFileSync('./pr/stats.json', 'utf-8');
            const baseSize = JSON.parse(baseResultString).size;
            const prSize = JSON.parse(prResultString).size;
            const baseSizeString = baseSize.readableString;
            const prSizeString = prSize.readableString;
            const diffInBytes = prSize.bytes - baseSize.bytes;
            const diffSizeString = humanFileSize(diffInBytes);
            const diffPerc = (diffInBytes*100) / baseSize.bytes;

            console.log('---1', diffInBytes, diffSizeString);
            console.log('---2', baseSizeString);
            console.log('---3', prSizeString);
            console.log('---4', diffPerc);

      # - name: Comment
      #   uses: NejcZdovc/comment-pr@v1.1.1
      #   with:
      #     file: 'comment.md'
      #   env:
      #     GITHUB_TOKEN: ${{secrets.GITHUB_TOKEN}}
      #     OLD: ${{steps.get-build-size.outputs.baseSizeString}}
      #     NEW: ${{steps.get-build-size.outputs.prSizeString}}
      #     DIFF: ${{steps.get-build-size.outputs.diffSizeString}}
      #     DIFF_PERCENT: ${{steps.get-build-size.outputs.percent}}
